.root {
  color: red;
  position: relative;
  background-color: pink;
}

.tooltip {
  position: absolute;
  min-width: 200px;
}

.tooltipContainerBasic {
  position: relative;
  padding: 8px 16px;
  border-radius: 4px;
  background: #424242;
  color: white;
}

.tooltipContainerBasic::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

.tooltipContainerBasic.tooltipContainerRight {}

.tooltipContainerBasic.tooltipContainerRight::after {
  border-color: transparent #424242 transparent transparent;
  left: -10px;
  top: 10px;
}

.tooltipContainerBasic.tooltipContainerTop {
  left: -50%;
}

.tooltipContainerBasic.tooltipContainerTop::after {
  border-color: #424242 transparent transparent transparent;
  bottom: -10px;
  left: calc(50% - 5px);
}

.tooltipContainerBasic.tooltipContainerBottom {
  left: -50%;
}

.tooltipContainerBasic.tooltipContainerBottom::after {
  border-color: transparent transparent #424242 transparent;
  top: -10px;
  left: calc(50% - 5px);
}

.tooltipContainerBasic.tooltipContainerLeft {
  left: -10px;
}

.tooltipContainerBasic.tooltipContainerLeft::after {
  border-color: transparent transparent transparent #424242;
  right: -10px;
  top: 10px;
}
